################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/Assembly Planner/v15/Server/sqlite3/storage.ide-wal
/src/.vs/Assembly Planner/v15/Server/sqlite3/db.lock
/src/.vs/Assembly Planner/v15/Server/sqlite3/storage.ide
/src/.vs/Assembly Planner/v15/Server/sqlite3/storage.ide-shm
