<div id="theBody">

<div class="heading">
	<h1  style="margin: 0px 0px 0px 0px;">Dissassembly Direction Confirmation</h1>
	<button style='display: inline;' onclick='dir_renderXML()'>Render XML</button>
</div>


<div id="main">

<div id="directionLists" >
	<div id="unconfirmedDiv" >
		<h3 style="margin: 0px 0px 0px 0px;">Unconfirmed Directions</h3>
		<div id="unconfirmed" >
		</div>
	</div>
	<div id="opacityDiv">
		<text style="padding: 2px 2px 2px 2px;">Opacity</text>
		<input style="display:inline;" type="range" name="External Opacity" min="0" max="1" step="0.01" onchange="dir_fixOpacity(this)"></input>
	</div>
	<div id="confirmedDiv">
		<h3 style="margin: 0px 0px 0px 0px;">Confirmed Directions</h3>
		<div id="confirmed">
		</div>
	</div>
</div>

<div id="display" onmousedown="dir_doMouseDown(event)" 
                  onmouseup="dir_doMouseUp(event)" 
				  onmouseleave="dir_doMouseLeave(event)"
				  oncontextmenu="dir_justDont(event)">
</div>

<div id="vectorDiv">
	<button id="expandButton" onclick="dir_insertVectorView(this)">Show/Hide</button>
</div>

</div>

</div>

