		body{
			background-color:#444444; 
			font-family: arial; 
			padding: 0px 0px 0px 0px; 
			margin: 0px 0px 0px 0px; 
			height:100%; 
			width:100%;
		}
		.heading{
			width: 100%; 
			height: 10%; 
			background-color:#44AAFF; 
			margin: 0px 0px 0px 0px;
		}
		#display{
			width: 80%; 
			height: 100%;
			bottom: 0px;
			float:right;  
			margin: 0px 0px 0px 0px; 
			background-color:#AAAACC;
		}
		#directionLists{
			width:20%; 
			height: 100%; 
			float:left;  
			margin: 0px 0px 0px 0px;
		}
		#unconfirmedDiv{
			height:47%; 
			background-color:#CCAAAA; 
			margin: 0px 0px 0px 0px; 
			overflow:hidden;
		}
		#unconfirmed{
			height:85%;
			margin: 0px 10px 10px 10px; 
			background-color:#EECCCC; 
			overflow:scroll;
		}
		#confirmedDiv{
			height:47%;  
			background-color:#AACCAA;
			margin: 0px 0px 0px 0px;
		}
		#confirmed{
			height:85%; 
			margin: 0px 10px 10px 10px; 
			background-color:#CCEECC; 
			overflow:scroll;
		}
		#opacityDiv{
			height:6%;  
			background-color:#AAAACC;
			margin: 0px 0px 0px 0px;
		}
		#main{
			width: 100%; height:85%; 
			background-color:#AAAAAA; 
			margin: 0px 0px 0px 0px; 
			overflow:hidden;
		}
		.dirPair{
			margin: 0px 0px 0px 0px;
			border-color: #888888;
			border: solid;
			border-left-width: 2px;
			border-right-width: 2px;
			border-top-width: 1px;
			border-bottom-width: 1px;
		}
		.pairText{
			font-size: 10px;
		}
		.dirButton{
			background-color: #FFFFFF;
			color: #000000;
		}
		#vectorDiv{
			position: absolute;
			float: right;
			top: 10%;
			left: 80%;
			right: 0%;
			background-color: #CCCCAA;
			margin: 0px 0px 0px 0px;
			padding: 5px;
			height: 85%;
		}
		#vectors{
			height: 85%;
			background-color: #EEEECC;
			margin: 0px 0px 0px 0px;
		}
		#expandButton{
			position: absolute;
			background-color: #000000;
			color: #FFFFFF;
			right: 0%;
		}
		.vecEntry{
			padding: 5px;
			margin: 0px 0px 0px 0px;
			border-color: #888888;
			border: solid;
			border-left-width: 2px;
			border-right-width: 2px;
			border-top-width: 1px;
			border-bottom-width: 1px;
		}
		#vecList{
			overflow: scroll;
			height: 100%;
		}


