

<div class="heading">
	<h1  style="margin: 0px 0px 0px 0px;">Dissassembly Direction Confirmation</h1>
	<input type='file' id='fileinput' multiple />
	<button style='display: inline;' onclick='renderXML()'>Render XML</button>
	<a href='' id='downloadLink' download='directionList2.xml' ></a>
</div>


<div id="main">

<div id="display" onmousedown="doMouseDown(event)"
                  onmouseup="doMouseUp(event)"
				  onmouseleave="doMouseLeave(event)"
				  oncontextmenu="justDont(event)">
</div>

<table id="table_id" class="display">
	<thead>
		<tr>
			<th>REFERENCE</th>
			<th>MOVING</th>
			<th>VECTORS</th>
			<th>GROUPING</th>
			<th>CONFIRMED</th>
		</tr>
	</thead>
	<tbody id="body_id">
	</tbody>
	<tfoot>
		<tr>
			<th>REFERENCE</th>
			<th>MOVING</th>
			<th>VECTORS</th>
			<th>GROUPING</th>
			<th>CONFIRMED</th>
		</tr>
	</tfoot>
</table>

</div>

</body>

<script src="./src/webVis/jsstl.js"></script>
<script src="./src/webVis/jquery.js"></script>
<script src="./src/webVis/three.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.js"></script>
<script src="./src/webVis/dirConfirmScript.js"></script>


<style>
	#table_id{
		font-family: Arial, Helvetica, sans-serif;
		bottom: 0;
	}
	table.dataTable.display tbody tr.even.fast{
		background-color: #FF8888
	}
	table.dataTable.display tbody tr.odd.fast{
		background-color: #F98181
	}
	table.dataTable.display tbody tr.even.nfast{
		background-color: #8888FF
	}
	table.dataTable.display tbody tr.odd.nfast{
		background-color: #8181F9
	}
	table.dataTable.display tbody tr.odd > .sorting_1.focus, table.dataTable.order-column.stripe tbody tr.odd:first-child > .sorting_1.focus{
		background-color: #FFFFFF
	}
	table.dataTable.display tbody tr.even > .sorting_1.focus, table.dataTable.order-column.stripe tbody tr.even:first-child > .sorting_1.focus{
		background-color: #FFFFFF
	}
	table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1{
		background-color: #A3F9A3
	}
	table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1{
		background-color: #AAFFAA
	}
	table.dataTable.display tbody tr.odd > .sorting_1.focus, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1.focus{
		background-color: #FFFFFF
	}
	table.dataTable.display tbody tr.even > .sorting_1.focus, table.dataTable.order-column.stripe tbody tr.even > .sorting_1.focus{
		background-color: #FFFFFF
	}
</style>
