<!DOCTYPE html>
<html style="height:100%; width:100%;">

<head>
	<style>
	{{styleBase}}
	</style>
</head>
<body>
	<div id="stageContent">
	</div>
	<script src="/static/jquery"></script>
	<script src="/static/threeJS"></script>
	<script src="/static/jsstl"></script>
	<script src="/static/tableStyle"></script>
	<script src="/static/tableScript"></script>
	<script src="/static/pageBaseScript"></script>
	<script src="/static/treequence"></script>
	<script src="/static/partRender"></script>
	<script src="/static/uploadScript"></script>
	<script src="/static/progScript"></script>
	<script src="/static/partScript"></script>
	<script src="/static/dirScript"></script>
	<script src="/static/renderScript"></script>
</body>
