<body id="theBody">
	<button style='display: inline;' onclick='part_renderXML()'>Submit</button>
    <select name="length units" id="lengthUnits">
      <option value="millimeters">millimeters</option>
      <option value="centimeters">centimeters</option>
      <option value="inches">inches</option>
      <option value="feet">feet</option>
      <option value="meters">meters</option>
    </select>
    <select name="mass units" id="massUnits">
      <option value="kilograms">kilograms</option>
      <option value="pounds">pounds</option>
    </select>
    <button onclick="part_fillGlobalDensity()">Global Density</button>
    <input id="GlobalDensityInput" type="number"></input>

    <div id="display" onmousedown="part_doMouseDown(event)"
              onmouseup="part_doMouseUp(event)"
              onmouseleave="part_doMouseLeave(event)"
              oncontextmenu="part_justDont(event)">
    </div>

    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>NAME</th>
                <th>VOLUME (units^3)</th>
                <th>SURFACE AREA (units^2)</th>
                <th>MASS (units)</th>
                <th>FASTENER</th>
                <th>AMBIGUITY</th>
            </tr>
        </thead>
        <tbody id="body_id">

        </tbody>
        <tfoot>
            <tr>
                <th>NAME</th>
                <th>VOLUME (units^3)</th>
                <th>SURFACE AREA (units^2)</th>
                <th>MASS (units)</th>
                <th>FASTENER</th>
                <th>AMBIGUITY</th>
            </tr>
        </tfoot>
    </table>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.6.7/go-debug.js"></script>
    <script src="./src/webVis/jsstl.js"></script>
    <script src="./src/webVis/three.min.js"></script>
    <script src="./src/webVis/base3D.js"></script>
    <script src="./src/webVis/partTableScript_new.js"></script>

</body>

<style>

	#stageBody{
		height: 100%;
	}
	#table_id{
		font-family: Arial, Helvetica, sans-serif;
	}
	#table_id_wrapper {
		bottom: 0;
	}
	table.dataTable.display tbody tr.even.fast{
		background-color: #ff8888
	}
	table.dataTable.display tbody tr.odd.fast{
		background-color: #f98181
	}
	table.dataTable.display tbody tr.even.nfast{
		background-color: #8888ff
	}
	table.dataTable.display tbody tr.odd.nfast{
		background-color: #8181f9
	}
	table.dataTable.display tbody tr.odd > .sorting_1.focus, table.dataTable.order-column.stripe tbody tr.odd:first-child > .sorting_1.focus{
		background-color: #FFFFFF
	}
	table.dataTable.display tbody tr.even > .sorting_1.focus, table.dataTable.order-column.stripe tbody tr.even:first-child > .sorting_1.focus{
		background-color: #FFFFFF
	}
	table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1{
		background-color: #A3F9A3
	}
	table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1{
		background-color: #AAFFAA
	}
	table.dataTable.display tbody tr.odd > .sorting_1.focus, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1.focus{
		background-color: #FFFFFF
	}
	table.dataTable.display tbody tr.even > .sorting_1.focus, table.dataTable.order-column.stripe tbody tr.even > .sorting_1.focus{
		background-color: #FFFFFF
	}


</style>
