#theBody{
	background-color: #aaaaaa;
}
#fileinput{
	color: black;
}
button{
	display: block; 
	width: 150px;
	background-color: #DDDDDD;
	border: 1px solid #888888;
	color: #444444;
	padding: 5px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
}
button:hover{
	color: #000000;
	background-color: #EEEEEE;
	border: 1px dashed #AAAAAA;
}
#table_id{

	font-family: Arial, Helvetica, sans-serif;

}
